<div class="hero">
  <br>
  <div class="frosty col-10 offset-1 text-center">
    <br>
    <h1>Master the Rubik's Cube</h1>
    <br>
    <h2>Learn How to Solve the Cube Like the Pros</h2>
    <br>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br><br>
  </div>
</div>

<br>

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Learn from the Best</h3>
    <p>Choose from a wide variety of material from rubik's cube masters around the world.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Watch High Quality Videos</h3>
    <p>Learn the secrets of the cube and impress your friends.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Become Part of Something Big</h3>
    <p>Join our community, share what you've learned, learn from others!</p>
  </div>
</div>