@import "bootstrap";
@import "font-awesome";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: image_url('bg.png');
}

ul {
  list-style-type: none;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  height: 500px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h1, .booyah-box h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clr {
  clear: both;
}

.card {
  height: 425px;
  padding: 20px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  margin: 0 auto;
}

.card a {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 5%;
}

.article img {
  width: 100%;
}

.article h1 {
  font-weight: 900;
  font-size: 30px;
}

.course-description {
  text-align: left;
}

.sections {
  list-style-type: none;
  padding-left: 0;
}

.section {
  text-align: left;
  margin-top: 15px;
  border:1px solid #d2d2d2;
  padding: 15px;
  padding-bottom: 25px;
}

.section h4 {
  font-weight: 600;
}

.lesson {
  margin-bottom: 15px;
  padding: 10px;
  height: 90px;
}

.lesson hr {
  margin-top: 0;
  margin-bottom: 5px;
}

.lesson-title {
  font-size: 18px;
  text-align: center;
}

.lesson-subtitle {
  color: black;
  font-size: 14px;
  text-align: center;
}

.course-header a {
  float: right;
}

.course-edit-button a {
  width: 100%;
}

.new-lesson-btn {
  margin: 0;
  width: 100%;
}
.new-section-btn {
  width: 100%;
}

.sections h4 {
  margin-bottom: 10px;
}

.lesson-container {
  padding: 25px; 
}

.enroll-btn {
  width: 50%;
}

.edit-link {
  font-size: 14px;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  background: white;
  cursor: move;
  margin: 10px;
}

.section-li a {
  text-decoration: none;
}

.add-lesson-icon {
  font-size: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  margin: 10px;
  padding: 8px;
  padding-left: 40px;
  font-size: 15px;
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  background: white;
}

.lessons li:active {
  -ms-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
  -ms-transform: translate(-5px, -5px);
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.collapse-btn {
  cursor: pointer;
}

.expand-link {
  cursor: pointer;
}

#expand-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.course-image {
  width: 100%;
}

.navbar i {
  font-size: 26px;
  margin-right: 15px;
}

.dashboard img {
  width: 100%;
}

